
/*
#playerBoard {
    position: relative;
    width: 100%;
    margin-top: 95vh;

    height: 2vh;
    background-color: rgba(132, 197, 198, 0.35);

    display: inline-block;
}

#opponentBoard {
    width: 100%;
}


#ecranJeu {
    display: flex;
    flex-direction: column;
}

#connecte {
	position: relative;
	/* display: flex;
}
*/