/*
#playerBoard {
    position: relative;
    width: 100%;
    margin-top: 95vh;

    height: 2vh;
    background-color: rgba(132, 197, 198, 0.35);

    display: inline-block;
}

#opponentBoard {
    width: 100%;
}


#ecranJeu {
    display: flex;
    flex-direction: column;
}

#connecte {
	position: relative;

} */


/* #playerBoard {
    position: relative;
    width: 100%;

    height: 2vh;
    background-color: rgba(132, 197, 198, 0.35);

    display: inline-block;
} */

#opponentBoard {
    background-color: rgba(132, 197, 198, 0.35);
    height: 20vh;
    display: flex;
    padding-left: 30vw;
    padding-right: 30vw;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;

}
#opponentBoard div:first-of-type {
    background-image:url("../images/gameAssets/heartContainer.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    text-align: center;
    line-height: 20vh;
    font-weight: bold;
    color: rgb(167, 236, 121);

}
#opponentBoard div:nth-of-type(2) {
    width: 40%;
    background-image:url("../images/gameAssets/bulle.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 20vh;
}

#opponentBoard div:nth-of-type(3) {
    width: 30%;
    background-image:url("../images/gameAssets/crystalContainer.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 23vh;
}


#gameBoard {
    height: 60vh;
}
