
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@font-face {
    font-family: "Wizzta";
    src: url("../fonts/Wizzta.ttf");
}
/* Fonts */


body {
	display: flex;
	flex-direction: column;
	padding: 20px;
}


#connecte {
	position: absolute;
}

#logScreen {
	width: 250px;
	padding: 20px;
	text-align: center;
	margin: auto;
	left: 40%;
	top: 25%;
	/* display: inline-block; */
	position: absolute;
	background-color: lightgray;
	transition: 1s;
}

h1 {
	margin: 0;
	transition: 2s;
	font-family: 'Pacifico', cursive;
}

h1:hover {
	transform: scale(2);
	transition: 2s;
}

.logElement {
	padding-bottom: 10px;
	padding-top: 20px;
	font-family: 'Cormorant Upright', serif;
	font-size: 1.2em;

}

input:focus  {
	font-weight: bold;
}


button {
	font-family: 'Cormorant Upright', serif;
	font-size: 0.8em;
	margin-top: 20px;
}

button:hover {
	font-weight: bold;
}


/* Section caneva */

canvas {
	width: 100%;
	height: 100%;
}

/* Section lobby */
#boutonPratique {
	background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
	height: 40px;
	width: 10%;
	text-align: center;
	background-image: url("../images/gameAssets/menuNotSelected.png");
	margin: auto;
}

#boutonPratique:hover {
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	/* height: 40px; */
	/* width: 5%; */
	background-image: url("../images/gameAssets/menuSelected.png");
	margin: auto;
}

#boutonPVP {
	background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
	height: 40px;
	width: 10%;
	text-align: center;
	background-image: url("../images/gameAssets/menuNotSelected.png");
	margin: auto;
}

#boutonPVP:hover {
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	/* height: 40px; */
	/* width: 5%; */
	background-image: url("../images/gameAssets/menuSelected.png");
	margin: auto;
}

